<div class="my-4 flex justify-around">
  <button mat-raised-button routerLink="/admin/categories"
    [ngStyle]="{ 'border-radius': '1rem', 'background-color': '#2e6dd8', 'color':'white' }"
  >Manage Category</button>
  <button mat-raised-button routerLink="/admin/products"
    [ngStyle]="{ 'border-radius': '1rem', 'background-color': '#2e6dd8', 'color':'white' }"  
  >Manage Product</button>
  <button mat-raised-button routerLink="/admin/brands"
  [ngStyle]="{ 'border-radius': '1rem', 'background-color': '#2e6dd8', 'color':'white' }"
  >Manage Brand</button>
</div>