<div class="bg-blue-500 text-white p-2">
  <div class="space-y-2">
    <div class="flex justify-between mx-2">
      <span class="text-2xl font-bold cursor-pointer" routerLink="/">MyShop</span>
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchCat"
        (keyup.enter)="onSearch($event)"
        class="px-3 w-96 rounded-full border border-gray-300 text-black focus:outline-none focus:ring focus:ring-blue-300"
      />

      <div class="mx-3">
        <!-- Show Username -->
        <a   
          *ngIf="authService.isAdminTrue"
          routerLink="/admin"        
          class="text-lg hover:bg-blue-600 p-1 px-2 rounded-full cursor-pointer"
        >
          {{ authService.userName }}
        </a>

        <a   
          *ngIf="!authService.isAdminTrue" 
          routerLink="/profile"        
          class="text-lg hover:bg-blue-600 p-1 px-2 rounded-full"
        >
          {{ authService.userName }}
        </a>
      
        <!-- Show Logout -->
        <a 
          *ngIf="authService.isUserLoggedIn" 
          (click)="logout()" 
          class="cursor-pointer text-lg hover:bg-blue-600 p-1 px-2 rounded-full"
        >
          Logout
        </a>
      
        <!-- Show Log In and Register -->
        <ng-container *ngIf="!authService.isUserLoggedIn">
          <a 
            routerLink="/login" 
            class="cursor-pointer text-lg hover:bg-blue-600 p-1 px-2 rounded-full"
          >
            Log In
          </a>
          <a 
            routerLink="/register" 
            class="cursor-pointer text-lg hover:bg-blue-600 p-1 px-2 rounded-full"
          >
            Register
          </a>
        </ng-container>
      </div>
      
      <!-- <div class="mx-3">
        <a *ngIf="authService.isUserLoggedIn" class=" text-lg hover:bg-blue-600 p-1 px-2 rounded-full">{{ authService.userName}}</a>
        <a (click)="logout()" 
          class="cursor-pointer text-lg hover:bg-blue-600 p-1 px-2 rounded-full" 
          *ngIf="authService.isUserLoggedIn">
          Logout
        </a>

        <a routerLink="/login" 
          class="cursor-pointer text-lg hover:bg-blue-600 p-1 px-2 rounded-full" 
          *ngIf="!authService.isUserLoggedIn">
          Log In
        </a>
        <a routerLink="/register" 
          class="cursor-pointer text-lg hover:bg-blue-600 p-1 px-2 rounded-full" 
          *ngIf="!authService.isUserLoggedIn">
          Register
        </a>

      </div> -->
      
      
    </div>
    
    <nav class="flex space-x-4"
      *ngIf="authService.isUserLoggedIn"
    >
      <a class="hover:bg-blue-600 p-1 px-2 rounded-full cursor-pointer"
        *ngFor="let category of categoryList"
        (click)="onCategoryClick(category._id!)"
        >{{ category.name }}</a>
    </nav>
  </div>     
</div>