<div 
        class="bg-zinc-900 border border-gray-700 rounded-lg shadow-md overflow-hidden justify-between">
        <img
          class="w-full h-64 object-contain"
          [src]="product.images"
          alt="Product Image"
        />
        
        <div class="p-4">
          <h5 class="text-lg font-semibold tracking-tight">{{ product.name }}</h5>
      
          <!-- Product Description -->
          <p class="mt-2 text-gray-400 text-sm">
            {{ product.shortDescription}}
          </p>
      
          <!-- Price and CTA -->
          <div class="mt-4 flex justify-between items-center">
            <span class="text-xl font-bold"> Rs. {{ product.price }}</span>
            <button
              class="bg-blue-600 text-white px-4 py-2 rounded-full hover:bg-blue-700 focus:outline-none"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>